name: "Github amazon bot"

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "11" # The JDK version to make available on the path.
          architecture: x64 # (x64 or x86) - defaults to x64
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@2.0
        with:
          lein: "2.9.3"
      - name: "Run code"
        run: lein trampoline run
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
